html {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  text-shadow: 0 0 2px;
}

body {
  overflow: clip;
  color: rgb(100% 100% 100%);
  background-color: rgb(0% 0% 0%);
}

p {
  text-align: justify;
}

a {
  color: aliceblue;
  text-decoration: none;
}

button {
  padding: 12px 24px;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  color: rgb(100% 100% 100%);
  text-shadow: 0 0 3px;
  cursor: pointer;
  outline: solid rgb(50% 50% 50% / 50%);
  background: rgb(0% 0% 0% / 0%);
  border: none;
  border-radius: 24px;
  transition: 0.2s;
}

button.return {
  float: right;
}

button:hover {
  text-shadow: 0 0 6px;
  outline: none;
  background: rgb(50% 50% 50% / 50%);
}

button:active {
  transform: scale(75%);
}

hr {
  border: none;
  border-top: solid;
  border-radius: 2px;
}

.title {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 96px;
  text-align: center;
  text-shadow: 0 0 12px;
  transform: translate(-50%, -50%);
}

.subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 200%;
  text-align: center;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  column-count: 3;
}

.section {
  position: absolute;
  top: 100%;
  left: 50%;
  width: max-content;
  max-width: 75%;
  padding: 24px;
  background: rgb(50% 50% 50% / 50%);
  border-radius: 24px;
  backdrop-filter: blur(8px);
  transform: translateX(-50%);
  transition: 0.5s;
}

.section.active {
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.emoji {
  font-family: "Noto Emoji", sans-serif;
}

#canvas {
  position: fixed;
}

[lang|='ar'] {
  font-family: "Noto Sans", "Noto Sans Arabic", sans-serif;
}

[lang|='zh'] {
  font-family: "Noto Sans", "Noto Sans SC", sans-serif;
}

@media (orientation: landscape) {
  .subtitle {
    column-count: 2;
  }
}

@media (orientation: portrait) {
  .subtitle {
    column-count: 1;
  }
}